entrypoint = "anomaly_monitor.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python -m ensurepip --upgrade && pip install -r requirements.txt && python anomaly_monitor.py"]

[[ports]]
localPort = 5000
externalPort = 80
